RHT_OCP4_MASTER_API=https://api.ocp-na1.prod.nextcle.com:6443
RHT_OCP4_WILDCARD_DOMAIN=apps.ocp-na1.prod.nextcle.com
RHT_OCP4_CLUSTER_ID=ec05fc4c-afb9-4816-89f9-ea4c0bcacd76
RHT_OCP4_NEXUS_SERVER=nexus-common.apps.ocp-na1.prod.nextcle.com
RHT_OCP4_DEV_USER=swapnil-kulkarni-persistent-
RHT_OCP4_DEV_PASSWORD=dbf22d0e263f433389065dc98fd8389e
RHT_OCP4_GITHUB_USER=coolsvap
RHT_OCP4_QUAY_USER=coolsvap
